@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url(../css/keyframes.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
*::selection {
    background-color: #1c796b;
}
body {
    background-color: #212121;
}
nav {
    height: 4.5rem;
    position: sticky;
    transition: transform 0.6s;
}
.nav--shadow {
    box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.39);
}
#offcanvasNavbar, .offcanvas-body a {
    background-color: #2EC1AC;
    color: #212121 !important;
}
.offcanvas-body ul li a {
    text-align: center;
    margin: 1rem 0;

}
.fa-bars {
    color: #2EC1AC;
    font-size: 1.8rem;
}
.navbar-style {
    background-color: #212121;
    color: #2EC1AC;
}
.nav-item a, .navbar-brand {
    color: #2EC1AC;
    font-family: 'Rubik', sans-serif;
    transition: border-bottom 0.5s;
    cursor: pointer;
}
.active a {
    border-bottom: 1px solid #35e9ce !important;
}
.nav--hidden {
    transform: translateY(-4.5em);
}

.navbar-brand {
    font-size: 1.5rem;
}
.nav-item a {
    font-weight: 500;
}
.nav-item a:hover{
    color: #35e9ce;
    border-bottom: 1px solid #35e9ce;
}
.navbar-brand:hover {
    color: #35e9ce;
}
.code {
    font-weight: 700;
}
.space {
    margin-left: 2rem;
}
header {
    background-color: #212121;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
}
.hello h4 {
    color: #2EC1AC;
    font-size: 1.5rem;
    font-weight: 300;
}
.hello h1 {
    color: #F6F6F6;
    font-weight: 700;
    font-size: 5rem;
}
header .nama .emoj {
    font-size: 5rem;
}
.hello h2 {
    color: #f6f6f6b2;
    font-size: 3rem;
}
.hello p {
    color: #f6f6f6c7;
}
.hero {
    padding: 2rem 0 0 0;
}
.hero .btn-out-style {
    border: 1px solid #2EC1AC;
    color: #2EC1AC;
    font-size: 1.1rem;
    padding: 1rem 2rem;
}
.hero .btn-out-style:hover {
    border: 1px solid #2ec1abb7;
    background-color: #2ec1ab96;
    color: #f3f3f3;
}
#about {
    background-color: #212121;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
}
.text-about h4 {
    color: #2EC1AC;
    font-size: 2rem;
}
.text-about h4::after {
    content: '';
    border-bottom: 3px solid #2EC1AC;
    width: 40px;
    display: block;
    transform: translateY(.7rem);
}
.text-about p {
    color: #f6f6f6b4;
    padding: 0 8rem 0 0;
    font-size: 1rem;
}
.profile-pic img {
    position: relative;
    border: 3px dashed #2EC1AC;
    border-radius: 50%;
    filter: sepia()
}
.profile-pic img:hover {
    filter: none;
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}
#edu {
    background-color: #212121;
    min-height: 60vh;
}
#edu h4 {
    color: #2EC1AC;
    font-size: 2rem;

}
#edu h4::after {
    content: '';
    border-bottom: 3px solid #2EC1AC;
    width: 40px;
    display: block;
    transform: translateY(.7rem);
}
#skills {
    background-color: #212121;
    min-height: 50vh;
}
#skills h4 {
    color: #2EC1AC;
    font-size: 2rem;
}
#skills h4::after {
    content: '';
    border-bottom: 3px solid #2EC1AC;
    width: 40px;
    display: block;
    transform: translateY(.7rem);
}
#skills span {
    padding: 2rem;
    border-radius: 50%;
}
.item i {
    color: #f3f3f398;
    font-size: 4rem;
}
#skills i:hover {
    animation: shake 0.7s;
    animation-iteration-count: 1;
}
.item .fa-html5:hover {
    color: #ee0505;
}
.item .fa-css3-alt:hover {
    color: #3982f0;
}
.item .fa-js:hover {
    color: #eede05;
}
.item .fa-vuejs:hover {
    color: #05bb3c;
}
.item .fa-node-js:hover {
    color: #1cca24;
}
.item .fa-bootstrap:hover {
    color: #861ffc;
}
.item .fa-figma:hover {
    color: #ee6e05;
}
.item .fa-git-alt:hover {
    color: #ca4a00;
}
.item .fa-github:hover {
    color: #0f0e0e;
}
.item .fa-gitlab:hover {
    color: #ee7605;
}
#contact {
    background: url(../image/bg-whatido.jpg);
    background-size: cover;
    height: max-content;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#contact h4 {
    color: #2EC1AC;
    font-size: 2rem;
}
#contact h4::after {
    content: '';
    border-bottom: 3px solid #2EC1AC;
    width: 40px;
    display: block;
    transform: translateY(.7rem);
}
.contact-card {
    border-radius: 20px;
}
.con-card {
    padding: 0 2rem;
}
.contact-card .btn-submit {
    background-color: #2EC1AC;
    color: #212121;
    padding: 1rem 2rem;
    font-weight: 600;
    font-size: 1rem;
}
.contact-card .btn-submit:hover {
    background-color: #2ec1abc2;
    color: #eeeeee;
}
.follow {
    background-color: #212121;
    padding: 1rem 0;
}
.follow p {
    color: #f3f3f3;
    font-family: 'Rubik', sans-serif;
    font-size: 1rem;
}
.sosmed a {
    margin: 0 1rem;
}
.sosmed i {
    color: #f3f3f365;
    font-size: 2rem;
    transition: transform 0.12s;
}
.follow .sosmed a i:hover {
    transform: translateY(-3px);
}
.sosmed .fa-facebook-square:hover {
    color: #2a58d8;
}
.sosmed .fa-instagram:hover {
    color: #c9259f;
}
.sosmed .fa-linkedin:hover {
    color: #1a48c5;
}
.sosmed .fa-github:hover {
    color: #0a0b0e;
}
footer {
    background-color: #212121;
}
.credit p {
    color: #2EC1AC;
    font-weight: 500;
    font-size: .8rem;
    transform: translate(0, 1rem);
}


